---js
{
  layout: "base.njk",
  title: "Blog | Roger Oriol",
  image: "assets/icons/chrome/chrome-installprocess-128-128.png",
  subtitle: "Discussing topics on web development, data architecture, software architecture and much more.",
  pagination: {
    data: "collections.post",
    size: 10,
    alias: "posts",
    reverse: true
  }
}
---

<p id="introduction">My name is Roger Oriol, I am a Software Architect based in Barcelona, Spain. I am a MSc graduate in Big Data Management, Technologies and Analytics. This blog will be the vehicle to divulgate and discuss topics on web development, data architecture, software architecture and much more.</p>

<h2>Recent posts</h2>
<ul class="blog-entry-list">
  {%- for post in posts -%}
  <li class="blog-entry-summary">
    <div>
      <time datetime="{{ post.data.date | htmlDateString }}">{{post.data.date | readableDate}}</time>
      {% if post.data.tags | hasLinkTag %}
      <div class="blog-entry-summary-content">
        <div class="blog-entry-summary-title" tabindex="0" role="link" onclick="window.open('{{post.data.externalUrl}}', '_blank').focus();" aria-label="{{post.data.title}}">
          <h2>🔗 {{ post.data.title }}</h2>
        </div>
      </div>
      {{ post.content | safe }}
      <a href="{{post.data.externalUrl}}" target="_blank">[[ Visit external link ]]</a>
      {% else %}
      <div class="blog-entry-summary-content" tabindex="0" role="link" onclick="window.location='{{post.url}}'" aria-label="{{post.data.title}}">
        {% if post.data.image %}
        <img width="200" src="{{post.data.image}}" alt="{{post.data.title}}" title="{{post.data.title}}" onclick="window.location='{{post.url}}'" tabindex="0" />
        {% endif %}
        <div class="blog-entry-summary-title">
          <h2>{{post.data.title}}</h2>
          {% if post.data.subtitle %}
            <p>{{post.data.subtitle}}</p>
          {% else %}
            <p>{{post.content | truncText}}...</p>
          {% endif %}
        </div>
      </div>
      <a href="{{post.url}}">[[ Read more ]]</a>
      <span class="inline-separator">·</span>
      <span class="read-time">{{post.templateContent | readTime}} minute read</span>
      {% endif %}
    </div>
  </li>
  {%- endfor -%}
</ul>
<a href="/articles/recent" class="more">More posts	&#x27A1;</a>
