---
layout: base.njk
title: Blog | Roger Oriol
pagination:
  data: collections.article
  size: 4
  alias: articles
---

<p id="introduction">My name is Roger Oriol, I am a Software Architect based in Barcelona, Spain. I am a MSc graduate in Big Data Management, Technologies and Analytics. This blog will be the vehicle to divulgate and discuss topics on web development, data architecture, software architecture and much more.</p>

<h2>Recent posts</h2>
<ul>
  {%- for article in articles -%}
  <li class="blog-entry-summary card">
    {% if article.data.image %}
    <img width="128" src="{{article.data.image}}" alt="{{article.data.title}}" title="{{article.data.title}}" onclick="window.location='{{article.url}}'" tabindex="0" />
    {% endif %}
    <div tabindex="0" role="link" onclick="window.location='{{article.url}}'" aria-label="{{article.data.title}}">
      <time datetime="{{ article.date | htmlDateString }}">{{article.date | readableDate}}</time>
      <h2>{{article.data.title}}</h2>
      <p>{{article.data.subtitle}}</p>
      <a href="{{article.url}}">Read more...</a>
    </div>
    <div>
      <span class="read-time">{{article.templateContent | readTime}} minute read</span>
    </div>
  </li>
  {%- endfor -%}
</ul>
<a href="/articles/recent" class="more">More posts	&#x27A1;</a>
{%- for category in collections.category -%}
<h2>{{category.data.title}}</h2>
<ul>
  {%- for article in collections[category.data.slug] -%}
  <li class="blog-entry-summary card">
    {% if article.data.image %}
    <img width="128" src="{{article.data.image}}" alt="{{article.data.title}}" onclick="window.location='{{article.url}}'" title="{{article.data.title}}" tabindex="0" />
    {% endif %}
    <div tabindex="0" role="link" onclick="window.location='{{article.url}}'" aria-label="{{article.data.title}}">
      <time datetime="{{ article.date | htmlDateString }}">{{article.date | readableDate}}</time>
      <h2>{{article.data.title}}</h2>
      <p>{{article.data.subtitle}}</p>
      <a href="{{article.url}}">Read more...</a>
    </div>
    <div>
      <span class="read-time">{{article.templateContent | readTime}} minute read</span>
    </div>
  </li>
  {%- endfor -%}
</ul>
<a href="{{category.url}}" class="more">More on {{category.data.title}}	&#x27A1;</a>
{%- endfor -%}