---
layout: base.njk
title: Category
---
{% if title !== 'Recent Posts' %}
<h2>Articles on <em>{{title}}</em></h2>
{% else %}
<h2>{{title}}</h2>
{% endif %}
<ul class="blog-entry-list">
  {%- for post in posts -%}
  <li class="blog-entry-summary">
    <div>
      <time datetime="{{ post.data.date | htmlDateString }}">{{post.data.date | readableDate}}</time>
      {% if post.data.tags | hasLinkTag %}
      <div class="blog-entry-summary-content">
        <div class="blog-entry-summary-title" tabindex="0" role="link" onclick="window.open('{{post.data.externalUrl}}', '_blank').focus();" aria-label="{{post.data.title}}">
          <h2>🔗 {{ post.data.title }}</h2>
        </div>
      </div>
      {{ post.content | safe }}
      <a href="{{post.data.externalUrl}}" target="_blank">[[ Visit external link ]]</a>
      {% else %}
      <div class="blog-entry-summary-content" tabindex="0" role="link" onclick="window.location='{{post.url}}'" aria-label="{{post.data.title}}">
        {% if post.data.image %}
        <img width="200" src="{{post.data.image}}" alt="{{post.data.title}}" title="{{post.data.title}}" onclick="window.location='{{post.url}}'" tabindex="0" />
        {% endif %}
        <div class="blog-entry-summary-title">
          <h2>{{post.data.title}}</h2>
          {% if post.data.subtitle %}
            <p>{{post.data.subtitle}}</p>
          {% else %}
            <p>{{post.content | truncText}}...</p>
          {% endif %}
        </div>
      </div>
      <a href="{{post.url}}">[[ Read more ]]</a>
      <span class="inline-separator">·</span>
      <span class="read-time">{{post.templateContent | readTime}} minute read</span>
      {% endif %}
    </div>
  </li>
  {%- endfor -%}
</ul>
<ul class="pagination blog-entry-list">
  <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
  {%- for pageEntry in pagination.pages %}
  <li>
    <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} class="current" aria-current="page"{% endif %}>
    {{ loop.index }}
    </a>
  </li>
  {%- endfor %}
  <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
</ul>
